body{
    font-family: 'Roboto', sans-serif;
    color: #bfc1c8;
}
header{
    background-color: #1e202b;
}
p.logo-name{
    font-size: 1rem
}
span.logo-desc{
    font-size: 0.6rem;
    display: block;
    color: #bfc1c8;
}
li.nav-item{
    padding: 0 0.5rem ;
}
nav .nav-link {
    color: #fff;
    font-size: 0.9rem;
    padding: 0.1rem 1.5rem !important;
}
.navbar-nav .nav-link.active , nav .nav-link:hover{
    color:#009ad8;
    border: 2px solid #009ad8;
    border-radius: 1rem;
}
#content{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-color: #1e202b;
}
.find-location .search {
    width: 100%;
    padding: 1rem 2rem;

}
.find-location .submit{
    background-color: #009ad8;
    color: #fff;
    font-size: 0.9rem;
    padding: 0 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
form input{
    border-radius: 30px;
    background-color: #1e202b;
    color: #fff;
    outline: none;
    border: none;
}
form input::placeholder{
    font-size: 0.9rem;
}
.forecast-container {
    width: 100%;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.forecast-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
}
.forecast-content .location{
    font-size: 1.3rem;
}
.forecast-content .num{
    font-size: 5rem;
}
.forecast-content .custom{
    color: #009ad8;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}
.forecast-content span{
    font-size: 0.9rem;
    padding-right: 1rem;
}
.center-forecast{
    background-color: #262936;
}
.degree{
    font-size: 1.7rem ;
}
small{
    font-size: 1.1rem ;
}
footer{
    background-color: #262936;
}
footer p.copyrights{
    font-size: 0.9rem;
}
.social-links i {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.social-links a {
    width: 40px ;
    height: 40px;
    background: #1e202b;
    border-radius: 50%;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    font-size: 1.2rem;
    display: inline-block;
    transition: all 0.3s;

}
.social-links a:hover {
    color: #fff;
    background-color: #009ad8;
}